@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Nunito', sans-serif;
}

  section {
    width: 400px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;
  }

  .text-right {
    text-align: right;
  }

  h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
  }

 .email {
   border-radius: 10px;
   margin-bottom: 8px;
    
 }


  .button-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .button-action {
    background: none;
    border: 1px solid #CFD8DC;
    padding: 14px 24px;
    border-radius: 90px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }

  .button-action.is-yellow {
    border: none;
    border-radius: 55px;
    background: #FFE44D;
    padding: 14px 24px;
  }

  div:not(last-child) {
    margin-bottom: 10px;
  }

  .text-small {
    font-size: 12px;
    color: rgba(123, 142, 152, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0 30px 0;
  }

input {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid rgba(207, 216, 220, 1);
    outline: none;
    caret-color: gold;
  }
input:focus {
    border-color: rgba(255, 228, 77, 1);
}
