* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100vh;
    background-color: violet;
}
.item {
    width: 200px; 
    height: 200px; 
    background-color: gold;
    margin: 10px;
}