* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.item-2 {
    right: 0;
}
.item-3 {
    bottom: 0;
}
.item-4 {
    right: 0;
    bottom: 0;
}