* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section {
    width: 30%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
button {
    width: 100%;
    padding: 15px 40px;
    font-size: 24px;
    color: white;
    background-color: seagreen;
    border: none;
    outline: none;
    margin: 10px;
}
button:hover {
    background-color: rgb(27, 116, 65);
}
button:active {
    transform: scale(1.05);
    background-color: rgb(130, 110, 149);
}
/* div {
    background-color: green;
    background-image: url(.images/img-btn.jpeg);
    background: url(./images/img-btn.jpeg) green;
} */