* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: skyblue;
    padding: 20px;
    margin-bottom: 50px;
}
.text {
    display: inline;
    width: 50%;
    background-color: gold;
    margin-bottom: 50px;
}
a {
    display: block;
    background-color: gold;
}