.par2_styles {
    color: green;
    font-size: 30px;
  }
  
  .par3_styles {
    background-color: green;
    font-size: 25px;
  }
  
  .p2_styles {
    color: red;
    background-color: yellow;
  }



