/* Здесь будем экспериментировать и писать код. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Input */
.input {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid lightblue;
    width: 100%;
    transition: all .5s;
}

.container {
    /* Это просто для красоты - чтобы на больших экранах не растягивать контент сверх меры*/
    max-width: 1440px;
    /* Центрируем контент */
    margin: 0 auto;
}

/** Стили для контейнера заголовка */
.header {
    padding: 10px;
    box-shadow: 0 0 10px 0 lightblue;
    display: flex;
    justify-content: space-between;
}

/** Стили для навигации в заголовке */
.navigation-list {
    list-style: none;
    cursor: pointer;
    gap: 60px;
    padding: 10px;
    display: flex;
}

.navigation-item {
    font-size: 24px;
    font-weight: 700;
    color: #0096CD;
    margin: 8px 0;
}
/** Конец стилей навигации в заголовке */

.burger-menu-button {
    width: 36px;
    height: 36px;
    display: none;
}

.contacts-button {
    width: 40px;
    height: 40px;
    align-self: center;
}

/* Desktop-first approach */
.product-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 700px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .navigation-list {
        gap: 15px;
    }
    .navigation-item {
        font-size: 15px;
    }
}

@media screen and (max-width: 520px) {
    .product-container {
        grid-template-columns: 1fr;
    }
    .burger-menu-button {
        display: block;
    }
    .navigation-menu {
        display: none;
    }
}



.product-card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px lightblue;
    padding: 10px;
    background-color: white;
}

.product-card:hover .product-name {
    color: blue;
}

.product-img {
    aspect-ratio: 1 / 1;
}

.product-name {
    color: #0096CD;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.4s;
}

.product-info {
    display: flex;
    justify-content: space-between;
}